{# templates/toolbox/resistance.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="mb-4 px-4 py-5 text-black bg-light">
	<h1 class="display-4">Resistance</h1>
	<p class="lead">Decodes resistor label into resistance value</p>
	<hr class="my-4">
	<!-- tool item block -->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Resistor value</h5>
			<div id="tool" class="card-text"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
		{{ encore_entry_link_tags('resistance-tool') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
		{{ encore_entry_script_tags('resistance-tool') }}
{% endblock %}
