{# templates/toolbox/resolution.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="mb-4 px-4 py-5 text-black bg-light">
	<h1 class="display-4">Resolution calculator</h1>
	<p class="lead">Computes resolutions, density and screen size</p>
	<hr class="my-4">
	<!-- tool item block -->
	<div id="tool" class="card"></div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
	{{ encore_entry_link_tags('resolution-tool') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
	{{ encore_entry_script_tags('resolution-tool') }}
{% endblock %}
