{# templates/terms/privacy.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
	<h1 class="display-4">Privacy policy</h1>
	<p class="lead">
		Privacy policy of applications published by Trogon Studios.<br/>
		Last updated 17th August 2020.
	</p>
	<hr class="my-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">1. Personal information</h5>
			<p class="card-text">
				1.1. Applications can use personal information in the form of computer files.<br />
				1.2. Applications can process computer files only when directly specified by user (ex. open, save, export).<br/>
				1.3. Applications does not transmit personal information outside the installed device.<br/>
				1.4. Trogon Studios does not receive any persoanl information from Applications.
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">2. Workspace files</h5>
			<p class="card-text">
				2.1. Applications can create temporary workspace files in local application data catalog.<br />
				2.2. Workspace files are used to keep application state data while using the application.<br />
				2.3. Applications does not share nor transmit workspace files outside the user device.<br />
				2.4. Once application is closed, user can remove workspace files. Workspace files are usually removed after one month by the application.<br />
				2.5. Modifing workspace files can cause problems with using the application.
			</p>
		</div>
	</div>
</div>
{% endblock %}
