{# templates/project/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Project</h1>
    <p class="lead">List of currently ongoing projects.</p>
    <hr class="my-4">
    <p>List of repository links for ongoing projects:</p>
    <ul>
        {% for item in repos %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
